.App{
    display: flex;
}
.BoxBtn{
margin:10px;
 border: solid 5px lightblue;
 height: fit-content;
 display: flex;
 justify-content: center;
 width: 20vw;
 flex-wrap: wrap;

}
.App{
    display: flex;
    justify-content: center;

    
}