body,html{
    overflow: hidden;
    display: flex;
    justify-self: center;
    margin: 0;
    padding: 0;
}
.App{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}
.box{
    height:auto;
    width: 30vw;
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    color: black;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 0;
}

