.req{
    color: rgb(223, 223, 223);
    height: auto;
    width: 50vw;
    background-color:rgba(71, 22, 121, 0.712) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding: 5px;
}
input,select{
    width: 90%;
    padding: 5px;
}
hr{width: 100%;}

.success{
    width: 92vw;
    height: 100vh;
    position: absolute;
    color: green;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.521);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.success h1{
    background-color: rgb(250, 250, 250);
    padding: 15px;
    border-radius: 10px;
}
.divSu{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display:none;
    justify-content: center;

}
.age-not-allowed{    width: 92vw;
    height: 100vh;
    position: absolute;
    color: rgb(128, 0, 0);
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.521);
    display: flex;
    justify-content: center;
    align-items: center;}
.age-not-allowed h1{
    background-color: rgb(250, 250, 250);
    padding: 15px;
    border-radius: 10px;    
}